/* this is a comment */

html{
  margin: 0;
  padding: 0;
  background: #F7F7FF;
}

body{
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  font-weight: bold;
  line-height: 150%;
  width: 70%;
  margin: 0 auto;
}

main{
  text-align: center;
}

/* back prev 2B2D42 */
header, footer{
  background: #55557F;  
  color: #C6C6CC;
}

h1{
  font-size: 60px;
  line-height: 110%;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

footer{
  text-align: center;
  font-size: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

#tabs a{
  background: #55557F;
  color: black;
  display: inline-block;
  padding: 10px 30px; 
  /*margin: 5px;*/
}

#tabs{
  margin: 0 auto;
  text-align: center;
  background: #55557F;
}
#profile-pic{
  margin-top: 20px;
  margin-bottom: -20px;
}

.sec{
  margin: 0 auto;
  padding: 20px;
}

#intro_ben{
  padding-bottom: 40px;
}

.icon {
  width: 40px;
  height: 40px;
}
