/* this is a comment */

@font-face{
  font-family: 'Archivo-Narrow';
  src: url(../fonts/Archivo-Narrow/ArchivoNarrow-Regular.ttf);
}

html{
  margin: 0;
  padding: 0;
  background: #F7F7FF;
}

body{
  font-family: "Times New Roman";
  width: 70%;
  margin: 0 auto;
}

main{
  text-align: center;
}

header, footer{
  background: #2B2D42;  
  color: #8D99AE;
}

a{
  color: white;
}

a:hover{
  text-decoration: none;
}

h1{
  font-size: 2em;
  font-weight: normal;
  font-style: normal;
  text-align: left;
}


h2.link {
  font-size: 1em;
  color: white;
  font-weight: normal;
}

footer{
  text-align: center;
  font-size: 0.85em;
}

.greeting{
  background: #2B4162 ;
  color: white;
}
