/* this is a comment */

html{
  margin: 0;
  padding: 0;
  background: #F7F7FF;
}

body{
  /*font-family: 'Inconsolata', monospace;*/
  font-family: arial,sans-serif;
  font-weight: 200;
}

h1{
  font-size: 4em;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

main{
  width: 60%;
  margin: 0 auto;
}

#profile-pic{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
}

#caption{
  border-style: solid;
  border-width: 3px;
  border-color: black;
  border-radius: 25px;

  text-align: center;
  display: inline-block;
  font-size: 2em;
  line-height: 150%;
}

#essay{
  text-align: left;
  display: inline-block;
  font-size: 1.3em;
  line-height: 150%;
  padding-bottom: 4em;
  padding-top: 3em; 
}

footer{
  background: #55557F;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

#tabs a{
  display: inline-block;
}

/*a:hover{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  padding-color: white;
}*/

.icon {
  padding: 10px 15px 0px 15px;
  width: 40px;
  height: 40px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

/* . means class - can apply to many divs
 * # means id - can apply to one div
 */

