html{
  margin: 0;
  padding: 0;
  background: #323232;
}
body{
  font-family: "SF Mono";
  width: 70%;
  margin: 0 auto;
}
main{
  text-align: center;
}

header{
  text-align: justify;  
}

h1{
  font-size: 2em;
  color: #CB772F;
  font-weight: normal;
  font-style: normal;
}


h2.link {
  font-size: 1em;
  color:red;
  font-weight: normal
}

footer{
  text-align: center;
  font-size: 0.85em;
}
